// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $base: #03A9F4;
$base: #F44336;
$text: #555;
$invalid: #E91E63;
$width: 400px;
$cubic: cubic-bezier(.64,.09,.08,1);

html, body {
  overflow-x: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

html, body, form, span, h1special {
    box-sizing: border-box;
}

subtitle {
  font-family: 'roboto', sans-serif;
  color: white;
  font-size: 3em !important;
}

h3form {
  width: 100%;
  background: $base;
  padding: 20px;
  color: white;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.05);
  border-radius: 3px 3px 0 0;
}

form {
  font-family: 'roboto', sans-serif;
  width: $width + 60px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding: 0 0 40px;
  border-radius: 3px;
  color: $text;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font: inherit;
  transition: transform 0.3s ease-in-out,
    font-size 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

input,
textarea {
  font: inherit;
  font-size: 0.8em;
  margin: 28px 25px 10px;
  width: $width;
  display: block;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px $base;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
  background-position: -$width 0;
  background-size: $width 100%;
  background-repeat: no-repeat;
  transition: background 0.3s $cubic;
  resize: none;
  overflow: hidden;
  &:focus::-webkit-input-placeholder {
    color: $base;
  }
  &:focus,
  &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      font-size: 0.8em;
      transform: translateY(-20px);
      visibility: visible !important;
      opacity: 1;
    }
  }
}

input[type="email"] {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $base 4%);
  background-position: -400px 0;
  background-repeat: no-repeat;
  transition: border-bottom 0.3s ease, background 0.3s ease;
  &~span.validation-text {
    position: absolute;
    visibility: hidden;
    font-family: 'roboto', sans-serif;
    font-size: 0.6em;
    width: $width;
    margin-left: 25px;
    margin-top:-5px;
    color: white;
    transition: color 0.3s ease-in-out;
  }
  &:not([value=""]) {
    &::-webkit-input-placeholder {
      font-size: 0.8em;
      transform: translateY(-20px);
      visibility: visible !important;
      opacity: 1;
    }
    &:focus::-webkit-input-placeholder {
      color: $base;
    }
    &:focus:not(:valid)::-webkit-input-placeholder {
      color: $invalid;
    }
  }
  &:focus {
    background-position: 0 0;
    &:not(:valid):not([value=""]) {
      border-bottom: solid 1px $invalid;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
    }
  }
  &:not(:focus):not(:valid):not([value=""]) {
    &::-webkit-input-placeholder {
      color: $invalid;
    }
    border-bottom: solid 1px $invalid;
    background-position: 0 0 ;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $invalid 4%);
    &~span.validation-text {
      visibility: visible;
      color: $invalid;
    }
  }
}

.flex {
  display: flex;
  align-items: stretch;
  textarea {
    line-height: 120%;
  }
}

formButton {
  font-family: 'roboto', sans-serif;
  transition: transform 0.2s $cubic,
     box-shadow 0.2s $cubic;
  border: none;
  background: $base;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: $width + 600px;
  color: white;
  margin: 30px 0 0 25px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  }
}

a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  color: $base;
  i {
    margin-right: 5px;
  }
}

aForm {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: $invalid;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s $cubic;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  i {
    margin-right: 20px;
    transition: margin-right 0.2s $cubic;
  }
  &:hover {
    width: 134px;
    transform: translateX(-50px);
    i {
      margin-right: 10px;
    }
  }
}
