<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132659523-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132659523-1');
    </script>
    <title>CSbyUs: Open Digital Era Resources for All</title>
    <link rel="icon" href="https://farm8.staticflickr.com/7815/46145790274_ce1cd162d9.jpg">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="google-site-verification" content="AXm5LxjeFwtRiSqOyRNfkC8bg639WcYU65NwIyTaiIw" />
    <meta name="description" content="We're a team of students, teachers, and professionals spread across the globe with a common goal: To democratize digital era education." />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
